In [1]:
# # Do not forget to check if your notebook log collection plugin is working
from mining_extension import check_logging
check_logging("http://3.249.245.244:9999")

Request successful!

## Data Engineering

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import zipfile

In [12]:
with zipfile.ZipFile('data/task1/jetnet_logs.zip') as myzip:
    with myzip.open('jetnet_logs.txt') as myfile:
        df = pd.read_csv(myfile, delimiter='\t', header=None)

In [13]:
df

                                                       0
0      @User92: Action_3 (15/10/19 | 18:08:02) -> Act...
1      @User140: Action_3 (15/05/20 | 15:37:04) -> Ac...
2      @User105: Action_4 (25/04/20 | 01:08:29) -> Ac...
3      @User127: Action_1 (20/06/20 | 00:24:48) -> Ac...
4      @User50: Action_4 (09/10/19 | 15:12:52) --> Ac...
...                                                  ...
87187  @User69: Action_6 (29/06/21 | 22:15:46) -> Act...
87188  @User70: Action_10 (09/04/21 | 17:23:14) -> Ac...
87189  @User47: Action_3 (26/10/20 | 22:03:25) --> Ac...
87190  @User112: Action_2 (07/07/21 | 17:46:03) -> Ac...
87191  @User76: Action_7 (28/07/21 | 14:35:47) -> Act...

[87192 rows x 1 columns]

In [14]:
df['user_id'] = df[0].str.split(':').str[0]
df['into'] = df[0].str.split(': ').str[1]

In [15]:
df

,0,user_id,into
0,@User92: Action_3 (15/10/19 | 18:08:02) -> Act...,@User92,Action_3 (15/10/19 | 18:08:02) -> Action_1 (15...
1,@User140: Action_3 (15/05/20 | 15:37:04) -> Ac...,@User140,Action_3 (15/05/20 | 15:37:04) -> Action_8 (15...
2,@User105: Action_4 (25/04/20 | 01:08:29) -> Ac...,@User105,Action_4 (25/04/20 | 01:08:29) -> Action_7 (25...
3,@User127: Action_1 (20/06/20 | 00:24:48) -> Ac...,@User127,Action_1 (20/06/20 | 00:24:48) -> Action_2 (20...
4,@User50: Action_4 (09/10/19 | 15:12:52) --> Ac...,@User50,Action_4 (09/10/19 | 15:12:52) --> Action_8 (0...
...,...,...,...
87187,@User69: Action_6 (29/06/21 | 22:15:46) -> Act...,@User69,Action_6 (29/06/21 | 22:15:46) -> Action_7 (29...
87188,@User70: Action_10 (09/04/21 | 17:23:14) -> Ac...,@User70,Action_10 (09/04/21 | 17:23:14) -> Action_4 (0...
87189,@User47: Action_3 (26/10/20 | 22:03:25) --> Ac...,@User47,Action_3 (26/10/20 | 22:03:25) --> Action_7 (2...
87190,@User112: Action_2 (07/07/21 | 17:46:03) -> Ac...,@User112,Action_2 (07/07/21 | 17:46:03) -> Action_3 (07...
87191,@User76: Action_7 (28/07/21 | 14:35:47) -> Act...,@User76,Action_7 (28/07/21 | 14:35:47) -> Action_9 (28...

In [16]:
df['user_id'] = df['user_id'].str.replace('@', '')

In [17]:
df = df.drop(0, axis=1)

In [18]:
df

       user_id                                               into
0       User92  Action_3 (15/10/19 | 18:08:02) -> Action_1 (15...
1      User140  Action_3 (15/05/20 | 15:37:04) -> Action_8 (15...
2      User105  Action_4 (25/04/20 | 01:08:29) -> Action_7 (25...
3      User127  Action_1 (20/06/20 | 00:24:48) -> Action_2 (20...
4       User50  Action_4 (09/10/19 | 15:12:52) --> Action_8 (0...
...        ...                                                ...
87187   User69  Action_6 (29/06/21 | 22:15:46) -> Action_7 (29...
87188   User70  Action_10 (09/04/21 | 17:23:14) -> Action_4 (0...
87189   User47  Action_3 (26/10/20 | 22:03:25) --> Action_7 (2...
87190  User112  Action_2 (07/07/21 | 17:46:03) -> Action_3 (07...
87191   User76  Action_7 (28/07/21 | 14:35:47) -> Action_9 (28...

[87192 rows x 2 columns]

## Metrics Evaluation